<div class="container checkout-review-container">
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-8 ">
<div class='cartitemvalueonepage' style='display:none'></div>
<div class='cartcouponform margin-xs-t-m' style='display:none'></div>
<div id="coupon-error-message" style="color:red;margin-top:15px;margin-bottom:0px;display:none"></div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 cartitemvalueonepageside" style='display:none'>					
	<div class="container-black margin-xs-t-n margin-sm-t-m">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="margin-xs-t-n margin-xs-b-m" data-bind="i18n: 'Total'"></h3>
			</div>
			<div class="col-xs-12">
			<div id="subscription-cart-total-iwd" class="row pull-left margin-xs-b-s"></div>
			<div id="subsidy-cart-total-iwd" class="row pull-left margin-xs-b-s"></div>
			<!-- <div class="discount-cart-total row margin-xs-b-s">
				<div class="col-xs-8 col-md-7 discount-cart-coupon-code"></div>
				<div class="col-xs-4 col-md-5 text-right discount-cart-coupon"></div>
			</div> -->
			<div id="iwd-grand-total-item" class="row margin-xs-b-s"></div>
			<div class="row margin-xs-b-s disable_div coupon-message">
				<div class="col-xs-12" >					
					<small data-bind="i18n: 'Les reductions sont deja deduites de vos totaux'"></small>
				</div>
			</div>
			<div class="row margin-xs-b-s total-shipping-section">
				<div class="col-xs-5 col-sm-12 col-md-6 total-shipping-section-text" data-bind="i18n: 'Livraison'">					
				</div>
				<div class="col-xs-7 col-sm-12 col-md-6 text-right">
					<span class="new-price-smaller orange" data-bind="i18n: 'Gratuite'"></span>
				</div>
			</div>
			</div>
		</div>
	</div>
</div> 
</div>
</div>

