<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="totals discount iwd-wrapper-discount">
    <th class="mark" scope="row">
        <span class="title" data-bind="text: title"></span>
        <span class="discount coupon discount-coupon-code" data-bind="text: getCouponCode()"></span>
    </th>
    <td class="amount discount-cart-total-iwd">
        <span class="new-price-smaller orange line-100percent" data-bind="text: getValue(), attr: {'data-th': name}"></span>
    </td>
</tr>
<!-- /ko -->
