	.grey-bordered {
		border: 2px solid #cccccc;
		border-top: none;
	}
	.grey-bordered ul li {
		font-size: 20px;
		font-weight:bold;
		margin-bottom:10px;
	}
	.grey-bordered ul li p {
		font-weight:normal;
	}
	.grey-bordered ul li:before {
		font-family: "orange-icons";
		content: "\f1e3";	    
			position: absolute;
			left: 20px;
		font-size:14px;
		line-height:2;
	}
	.grey-bordered ul {
		margin-bottom:20px;
			list-style: none; /* Remove list bullets */
			padding-left:20px;
	}
	.black-bordered .oi {
		font-size: 60px;
		line-height: 60px;
	}
	.flex {
		display:flex;
	}
	.price-box {
		background: black;
		color: white;
		padding:20px 17px;
		height:94px;
	}
	.price-box h1 {
		font-size:60px;
		margin:0px;
	}
	.price-box h2 {
		font-size:40px;
		margin:0px;
	}
	.price-box small {
		font-size:24px;
		margin:0px;
	}
	.old-price {
		text-decoration: line-through;
		font-size:20px;
		font-weight:normal;
	}
	.full-price {
		font-size:20px;
		font-weight:bold;
	}
	.new-price {
		font-size:40px;
	}
	.gray {
		color:#aaa;
	}
	.cta-text {
		font-size:20px;
	}
	.offer-phone {
		background:url(../images/Huawei_Y5.jpg) no-repeat center 10px;
		background-size:contain;
		height:330px;
	}
	.phone-item {
		border-bottom: none;
	}
	.phone-item h3{
		line-height:1.4;
	}
	.content-collapsable h4 {
		cursor: pointer;
			padding: 15px 0;
			border-top: 1px solid #cccccc;
			margin: 0;
			position: relative;
	}
	
	.content-collapsable:last-child {
		border-bottom: 1px solid #cccccc;
	}

	.content-collapsable h4:after {
		font-family: 'Glyphicons Halflings';
			content: '\e252';
			position: absolute;
			right: 0;
	}
	.content-collapsable h4.open:after {
			content: '\e253';
	}
	.content-collapsable ol li {
			font-weight: normal;
	}
	.content-collapsable ol.closed, .content-collapsable div.closed {
			display:none;
	}
	.dropdown {
		display:inline-block;
		z-index: 500;
	}
	.dropdown a {
		margin-top:0px;
	}
	.aqua {
		background:#45bf97;
		color:black;
		padding:10px;
		margin-top:10px;
		margin-bottom:20px;
	}
	.black-bgd {
		background:#000;
		color:white;
		padding:10px;
		margin-top:10px;
		margin-bottom:20px;
	}
	.rating {
		font-size:20px;
		vertical-align:-2px;
	}
	.ratings {
		margin-bottom:20px;
	}
	.green {
		color:#56c197;
	}
	.phone-item .media-left img {
		margin-top:5px;
	}
	.well-grey {
		padding: 25px;
		background-color: #eee;
	}
	.well-grey-padded {
		position: relative;
		padding: 20px;
	}
	.well-grey-padded a.bin-icon {
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 500;
	}
	.well-grey-padded a i {
		font-size: 0.8em;
	}
	.well-grey-padded a:hover {
		text-decoration: none;
	}
	.well-grey h3 {
		margin-top: 0;
	}
	.well-grey h4 {
		font-size: 24px;
		margin-top: 4px;
	}
	.product-box-black {
        background-color: #000;
	    padding: 25px 20px;
	    color: #fff;
	}
	.pricing {
	    font-weight: bold;
	    font-size: 30px;
	    line-height: normal;
	}
	.product-box {
	    border: 2px solid #ccc;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.product-box-white {
	    padding: 25px 20px;
	}
	.orange {
	    color: #ff7900;
	}
	.check-list h4 {
	    display: inline-block;
	    margin: 0 0 5px -5px;
	}
	h4, .h4 {
	    font-size: 20px;
	}
	.product-bullet ul li:before {
	    font-family: "orange-icons";
	    content: "\f1eb";
	    position: absolute;
	    left: 0px;
	    font-size: 14px;
	    line-height: 2;
	}
	.grey-bordered ul li:before {
	    font-family: "orange-icons";
	    content: "\f1eb";
	    position: absolute;
	    left: 20px;
	    font-size: 14px;
	    line-height: 2;
	}
	.layer-style--gray {
    	background-color: #eeeeee;
    	padding: 20px 0 40px 0;
    }
    .node-layer-columns .field-name-field-column .field-collection-item-field-column .field-name-field-icon {
	    font-size: 50px;
	    margin-right: 15px;
	    width: auto;
	    display: inline-block;
	    vertical-align: middle;
	    vertical-align: top;
	    line-height: normal;
	    font-weight: normal;
	}
	.layer-style--gray .oi {
	    display: inline-block;
	    vertical-align: middle;
	    line-height: 1;
	    font-weight: normal;
	    font-style: normal;
	    speak: none;
	    text-decoration: inherit;
	    text-transform: none;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	.font-24 {
		font-size: 24px !important;
	}
	.font-40 {
		font-size: 40px !important;
	}
	.font-50 {
		font-size: 50px !important;
	}
	.font-60 {
		font-size: 60px !important;
	}
	.underlined {
		text-decoration: underline;
	}
	.quick-menu-wrapper {
	    padding: 20px 10px;
	    position: relative;
	    z-index: 400;
	    font-size: 14px;
	}

	@media (min-width: 768px) {
		.black-bordered {
			display:flex;
		}
		.offer-phone {
			background-size:cover;
			height:100%;
		}
		.cta-text {
			font-size:16px;
		}
		.price-box.right {
			text-align:right;
		}
		.order-dd {
			text-align:right;
		}
		.pricing {
		    font-size: 40px;
		}
	}
	@media (max-width: 768px) {
		.drowpdown-full-width {
			margin-top: 20px;
		}
		.label-name {
			line-height: 100%;
		}
		.form-line {
			margin-bottom: 10px;
		}
		.product-box-black {
	        min-height: 0 !important;
		}
		.product-box-white {
		    min-height: 0 !important;
		    padding: 25px 20px 0 20px;
		}
		.quick-menu-wrapper {
			font-size: 14px !important;
		}
		.quick-menu-body .dropdown {
			width: 100% !important;
			display: block;
		}
		.quick-menu-wrapper .field-name-field-quick-menu-body .quick-menu-prefix {
		    margin-bottom: 5px;
		}
		.quick-menu-wrapper .field-name-field-quick-menu-body .dropdown .btn-default {
		    margin-top: 0;
		    padding: 7px 10px;
		    font-size: 14px;
		    display: block;
		    text-align: left;
    	}
    	.product-box-black h2 {
			line-height: 120% !important;
		}
		
	}
