<?xml version="1.0"?>
<!--
/**
 * Netstarter Pty Ltd.
 *
 * @category    Dilmah
 * @package     Dilmah_RegionShipping
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2015 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <regionshipping>
                <active>0</active>
                <!--<sallowspecific>0</sallowspecific>-->
                <cutoff_cost>50</cutoff_cost>
                <model>Dilmah\RegionShipping\Model\Carrier\Regionshipping</model>
                <name>Region</name>
                <title>Region Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </regionshipping>
        </carriers>
    </default>
</config>
