<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Solr\SearchAdapter\Adapter" type="Dilmah\Solr\SearchAdapter\Adaptor"/>
    <type name="Dilmah\Solr\SearchAdapter\Aggregation\Builder">
        <arguments>
            <argument name="dataProviderContainer" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Magento\Solr\SearchAdapter\Dynamic\DataProvider</item>
            </argument>
            <argument name="aggregationContainer" xsi:type="array">
                <item name="termBucket" xsi:type="object">Magento\Solr\SearchAdapter\Aggregation\Builder\Term</item>
                <item name="rangeBucket" xsi:type="object">Magento\Solr\SearchAdapter\Aggregation\Builder\Range</item>
                <item name="dynamicBucket" xsi:type="object">Magento\Solr\SearchAdapter\Aggregation\Builder\Dynamic</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Solr\Model\Adapter\FieldMapper" type="Dilmah\Solr\Model\Adapter\FieldMapper" />
</config>
