<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="controller_action_predispatch">
        <observer name="gdl_redirect_before_page_load" instance="FME\Geoipultimatelock\Observer\DispatchObserver" />
    </event>-->
    
    <event name="controller_action_postdispatch">
        <observer name="fme_geoipultimatelock_postdispatch" instance="FME\Geoipultimatelock\Observer\DispatchObserver" />
    </event>
    
    <event name="catalog_block_product_list_collection">
        <observer name="fme_geoipultimatelock_product_list_collection" instance="FME\Geoipultimatelock\Observer\ListCollectionObserver" />
    </event>
    
<!--    <event name="catalog_product_collection_load_after">
        <observer name="fme_geoipultimatelock_product_load_after" instance="FME\Geoipultimatelock\Observer\ListCollectionObserver"/>
    </event>-->
</config>