<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="viralloops_campaign_coupon_redeemed" instance="ViralLoops\Campaign\Observer\MarkCouponAsRedeemedObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="viralloops_campaign_save_order_after_submits" instance="ViralLoops\Campaign\Observer\CreateCouponConversionObserver" />
    </event>
</config>
