<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
		<add id="Orange_Export::abandon_orderexport" title="Abandon Order Export" module="Orange_Export" sortOrder="101" parent="Orange_Upload::upload_header" action="orangeexport/abandonedorder/index"  resource="Magento_Backend::content"/>
		<add id="Orange_Export::orderexport" title="Order Export" module="Orange_Export" sortOrder="100" parent="Orange_Upload::upload_header" action="orangeexport/order/index"  resource="Magento_Backend::content"/>
	</menu>
</config>