<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>        
        <section id="common" translate="label" type="text" sortOrder="501" showInDefault="1" showInWebsite="1" showInStore="1">			
            <label>Orange Export</label>
            <tab>orange_export</tab>
            <resource>Orange_Export::orange_export_config</resource>
            <group id="report_exception_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Report Exception Configuration</label>                
                <field id="report_exception_notification_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Report Exception Notification Email</label>
                    <comment>Ex :test@test.com;test@testers.com.</comment>
                </field>
            </group>
        </section>
    </system>
</config>