<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Orange\Coupon\Api\SetOrangeCouponManagementInterface" type="Orange\Coupon\Model\SetOrangeCouponManagement"/>
	<preference for="Magento\SalesRule\Model\RulesApplier" type="Orange\Coupon\Model\RulesApplier" />
	<preference for="Magento\SalesRule\Model\Validator" type="Orange\Coupon\Model\Validator" />
</config>
