<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Orange\Webform\Model\ResourceModel\Mnpform\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webform_mnpform</argument>
            <argument name="resourceModel" xsi:type="string">Orange\Webform\Model\ResourceModel\Mnpform</argument>
        </arguments>
    </virtualType>
	<virtualType name="Orange\Webform\Model\ResourceModel\Activerform\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webform_activerform</argument>
            <argument name="resourceModel" xsi:type="string">Orange\Webform\Model\ResourceModel\Activerform</argument>
        </arguments>
    </virtualType>
	<virtualType name="Orange\Webform\Model\ResourceModel\Orderimport\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">importorder</argument>
            <argument name="resourceModel" xsi:type="string">Orange\Webform\Model\ResourceModel\Orderimport</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="webform_mnpform_data_source" xsi:type="string">Orange\Webform\Model\ResourceModel\Mnpform\Collection</item>
            </argument>
			<argument name="collections" xsi:type="array">
                <item name="webform_activerform_data_source" xsi:type="string">Orange\Webform\Model\ResourceModel\Activerform\Collection</item>
            </argument>
			<argument name="collections" xsi:type="array">
                <item name="webform_orderimport_data_source" xsi:type="string">Orange\Webform\Model\ResourceModel\Orderimport\Collection</item>
            </argument>
        </arguments>
    </type>
</config>