<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<!-- ko if: isPayable() -->
<div class="iwd-grand-total-item coupon-grandtotal">
    <div class="col-xs-6 col-sm-12 col-md-6">
		<span class="iwd-grand-total-item-label" data-bind="i18n: 'A payer maintenant'"></span>
	</div>
	<div clas="col-xs-6 col-sm-12 col-md-6 text-right">
		<!-- ko if: isDecimal() -->
		<div class="pdp total-pricee new-price orange">
		<span id="new-pricee" class="new-pricee grand-dec" data-bind="text: getGrandValue1()"></span>
		<span class="new-price-desimal grand-float" data-bind="text: getGrandValue2()"></span>
		<span id="new-price-symbol-desimal" class="new-price-symbol-desimal new-price-symbol " data-bind="text: getCurrencySymbol()"></span>
		</div>
	<!-- /ko -->
	<!-- ko ifnot: isDecimal() -->
		<div class="pdp total-pricee new-price orange">
		<span id="new-pricee" class="new-pricee grand-dec" data-bind="text: getGrandValue1()"></span>
		<span id="new-price-symbol" class="new-price-symbol" data-bind="text: getCurrencySymbol()"></span>				
		</div>
	<!-- /ko -->
	<div class="clearfix"></div>
	<span class="orange line-100percent soho-totaal" data-bind="text: getSubsidyValue()"></span>
	</div>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
<!-- /ko -->
