<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Bala. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="orange_couponrreport::couponreport" title="Applied Coupon Report" module="Orange_CouponReport" sortOrder="120"  parent="Orange_Upload::upload_header" action="couponreport/coupons/" resource="Orange_CouponReport::coupons" />
    </menu>
</config>
