<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="orange_product_attribute_rework" frontName="orange_product_attribute_rework">
            <module name="Orange_ProductAttributeRework" />
        </route>
    </router>
</config>