<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Uw {{var store.getFrontendName()}} wachtwoord is gewijzigd @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}
<h1 class="title">{{trans "Wachtwoord reset"}}</h1>
<p class="greeting">{{trans "Beste %name," name=$customer.name}}</p>
<p>{{trans "Uw wachtwoord voor de Dilmah Real Tea Boutique is succesvol gewijzigd."}}</p>
<p>{{trans "Als u deze wijziging niet zelf heeft uitgevoerd neem dan aub contact met ons op."}}</p>
<p>{{trans "Warme groet,"}}<br/>{{trans "Het Dilmah online team"}}</p>

{{template config_path="design/email/footer_template"}}
