<?xml version="1.0"?>
<!--
/**
 * Netstarter Pty Ltd.
 *
 * @category    Dilmah
 * @package     Dilmah_Erp
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2015 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="erp" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Erp Integration</label>
            <tab>dilmah</tab>
            <resource>Dilmah_Erp::config</resource>
            <group id="ftp" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SFTP Information</label>
                <field id="host" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Host</label>
                </field>
                <field id="server_user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP User</label>
                </field>
                <field id="server_password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Password</label>
                    <config_path>erp/ftp/server_password</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
