<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dilmah_orderstatus" frontName="dilmah_orderstatus">
            <module name="Dilmah_Orderstatus"/>
        </route>
    </router>
</config>