<?xml version="1.0"?>
<!--
/**
 * TechM Pty Ltd.
 *
 * @category    Dilmah
 * @package     Dilmah_Extendgrid
 * @author      TechM Team <contact@TechM.com>
 * @copyright   Copyright (c) 2015 TechM Pvt Ltd. 
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dilmah_Extendgrid" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
