<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer
            name="redirectcart_controller_action_predispatch"
            instance="Orange\Redirectcart\Observer\Redirectcart" />
    </event>
</config>