<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Réinitialisez votre mot de passe sur la {{var store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}
<h1 class="title">{{trans "Réinitialisation du mot de passe"}}</h1>
<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Il y a eu récemment une demande pour changer le mot de passe de votre compte."}}</p>
<p>{{trans "Si c’est bien vous qui avez demandé ce changement, veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "Si ce n’est pas vous qui avez fait cette demande, vous pouvez ignorer ce mail et votre mot de passe demeurera inchangé."}}</p>

{{template config_path="design/email/footer_template"}}
