<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Le mot de passe de votre compte {{var store.getFrontendName()}} a bien été modifié @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}
<h1 class="title">{{trans "Modification du mot de passe"}}</h1>
<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Le mot de passe de votre compte a bien été modifié."}}</p>
<p>{{trans "Si ce n’est pas vous qui avez fait cette demande de changement, merci de nous contacter."}}</p>

{{template config_path="design/email/footer_template"}}
