<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Coupons
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="amasty" translate="label" sortOrder="100">
            <label>Amasty Extensions</label>
        </tab>
        <section id="amcoupons" translate="label" type="text" sortOrder="132103" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Amasty_Coupons::config_coupons</resource>
            <class>separator-top</class>
            <label>Multiply Coupons</label>
            <tab>amasty</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="unique_codes" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unique codes</label>
                    <comment>If some other codes from the list is applied, all other coupons will be removed</comment>
                </field>
            </group>
        </section>
    </system>
</config>
