<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary" data-bind='mageInit: {"stickySection":{"stickyFromItem":"#maincontent","extraGapTop": 0 ,"stickyFromItemExtra":0,"hideItem":".shopping-cart-info-wrapper","stickyToItem":"footer","stickyToBefore":50}}'>
    <span data-bind="i18n: 'Order Summary'" class="title"></span>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>


