<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <common>
			    <numbervalidation_configuration>
					<scoring_url>https://wspartnerref.mobistar.be/Scoring/ScoringService/01/</scoring_url>
					<scoring_customer_url>https://wspartnerref.mobistar.be/Scoring/CustomerCheck/01/</scoring_customer_url>
				</numbervalidation_configuration>
				<vatvalidation_configuration>
				    <vatnumber_username>mobnasco</vatnumber_username>
					<vatnumber_password></vatnumber_password>
				</vatvalidation_configuration>
                <road_sixtyfive_config>
					<url>https://ws.wdmb.be/ws/DTrix.asmx</url>
                    <road_sixty_five_pd></road_sixty_five_pd>
					<road_sixty_five_uname>ManuelPM</road_sixty_five_uname>
                </road_sixtyfive_config>
				<obsolete_device_config>
					<obsolete_device_period>365</obsolete_device_period>
				</obsolete_device_config>
            </common>
			<selligent>
				<selligent_configuration>
					<brand>MobiStar</brand>
					<msisdn>0489101089</msisdn>
				</selligent_configuration>
			</selligent>
        </default>
    </config>