<?xml version="1.0"?>
<!--
/**
 * Netstarter Pty Ltd.
 *
 * @category    Netstarter
 * @package     Dilmah_TeaFaq
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2016 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dilmah_teafaq>
            <general>
                <config_dtfaq_widgetonly>0</config_dtfaq_widgetonly>
                <config_dtfaq_show_categories_on_top>1</config_dtfaq_show_categories_on_top>
                <config_dtfaq_filter_method>0</config_dtfaq_filter_method>
            </general>
            <settings>
                <config_dtfaq_show_desc>0</config_dtfaq_show_desc>
                <config_dtfaq_title>Tea FAQ</config_dtfaq_title>
            </settings>
        </dilmah_teafaq>
    </default>
</config>
